/config/secrets.yaml
/public/uploads/
/electron/dist/.icon-set
/electron/dist/linux-unpacked
/electron/dist/mac
/electron/dist/win-unpacked
.DS_Store
composer.phar
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
