<div class="presentation">
  <div style="height:100vh;width:100vw;background:var(--gray)" class="carousel"></div>
</div>
<div class="presentation" style="display: none;">
  <div style="height:100vh;width:100vw;background:var(--gray)" class="carousel"></div>
</div>