<div class="presentation" style="height:100%;width:100%;">
  <div style="height:100%;width:100%;background:var(--gray)" class="carousel"></div>
</div>
<div class="presentation" style="display: none;height:100%;width:100%;">
  <div style="height:100%;width:100%;background:var(--gray)" class="carousel"></div>
</div>