<div class="presentation" style="height:100%;width:100%;">
  <div style="height:80%;width:100%;background:var(--gray)" class="carousel"></div>
  <div style="height:20%;width:100%;background:#343a40" class="carousel"></div>
</div>
<div class="presentation" style="display: none;height:100%;width:100%;">
  <div style="height:80%;width:100%;background:var(--gray)" class="carousel"></div>
  <div style="height:20%;width:100%;background:#343a40" class="carousel"></div>
</div>