<div class="presentation">
  <div style="height:80vh;width:100vw;background:var(--gray)" class="carousel"></div>
  <div style="height:20vh;width:100vw;background:var(--gray)" class="carousel"></div>
</div>
<div class="presentation" style="display: none;">
  <div style="height:80vh;width:100vw;background:var(--gray)" class="carousel"></div>
  <div style="height:20vh;width:100vw;background:var(--gray)" class="carousel"></div>
</div>