<!doctype html>
<html lang="en" class="h-100">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=9ByOqqx0o3">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=9ByOqqx0o3">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=9ByOqqx0o3">
  <link rel="manifest" href="/manifest.json?v=9ByOqqx0o3">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=9ByOqqx0o3" color="#00a300">
  <link rel="shortcut icon" href="/favicon.ico?v=9ByOqqx0o3">
  <meta name="theme-color" content="#000000">
  <title>{% block title %}Community Hub{% endblock %}</title>
  {% endblock %}
  {% block styles %}
  {% endblock %}
</head>

<body class="d-flex flex-column h-100">
  <main class="flex-shrink-0 mb-5">
    {% block body %}
    {% endblock %}
  </main>
  <footer class="footer mt-auto py-3 bg-dark">
    <div class="container text-left">
      <span class="text-light">&copy; CommunityHub {{"now"|date("Y")}}</span>
      <div class="float-right">
        <div class="btn-group dropup">
          <button type="button" class="btn btn-outline-light btn-sm dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Download desktop player
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="https://releases.communityhub.cloud/Community Hub Digital Display-0.0.1.dmg">macOS</a>
            <a class="dropdown-item"
              href="https://releases.communityhub.cloud/Community Hub Digital Display-Web-Setup-0.0.1.exe">Windows</a>
            <a class="dropdown-item"
              href="https://releases.communityhub.cloud/media-player_0.0.1_amd64.deb">Linux</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  {% block javascript %}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
  {% endblock %}
</body>

</html>