<ul class="list-group list-group-flush">
    {% for button in buttons %}
        <li class="list-group-item draggable-item" draggable="true" ondragstart="dragstart_handler(event);" ondragend="dragend_handler(event);" id="button{{button.id}}"><img src="{{ path('index') }}uploads/{{button.image}}" alt="Button image"></li>
    {% endfor %}
</ul>
